.container{
    margin: 3rem auto;
    width: 100%;
}
.card-nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.5);
}