.container{
    padding: 0px;
    justify-content: start;
    align-items: center;
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 8rem;
}
.seleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: 20px;
}
.bi-cart-plus{
    color: #fff;
}
.btn-add{
    width: 40%;
    text-align: center;
}
.btn-cliente{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cliente-btn{
    width: 150px;
}
.btn-addsec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
}
.seccion{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}
.tabla{
    width: 70%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px) {
    .seccion{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        box-shadow: none;
        padding:0;
        border-radius:0px;
    }

}